## Part 1: Preprocessing

In [173]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [174]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [175]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]

In [176]:
# Create a list of at least 10 column names to use as X data
selected_columns = ['Age', 'BusinessTravel', 'NumCompaniesWorked', 'DistanceFromHome', 'Education', 'EducationField', 'HourlyRate', 'JobRole', 'EnvironmentSatisfaction', 'TotalWorkingYears']

# Create X_df using your selected columns
X_df = attrition_df[selected_columns]

# Show the data types for X_df
X_df.dtypes

Age                         int64
BusinessTravel             object
NumCompaniesWorked          int64
DistanceFromHome            int64
Education                   int64
EducationField             object
HourlyRate                  int64
JobRole                    object
EnvironmentSatisfaction     int64
TotalWorkingYears           int64
dtype: object

In [177]:
X_df.head()

,Age,BusinessTravel,NumCompaniesWorked,DistanceFromHome,Education,EducationField,HourlyRate,JobRole,EnvironmentSatisfaction,TotalWorkingYears
0,41,Travel_Rarely,8,1,2,Life Sciences,94,Sales Executive,2,8
1,49,Travel_Frequently,1,8,1,Life Sciences,61,Research Scientist,3,10
2,37,Travel_Rarely,6,2,2,Other,92,Laboratory Technician,4,7
3,33,Travel_Frequently,1,3,4,Life Sciences,56,Research Scientist,4,8
4,27,Travel_Rarely,9,2,1,Medical,40,Laboratory Technician,1,6

In [178]:
# # Split the data into training and testing sets
# from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=78)
# Split y_train and y_test into two DataFrames for the Department and Attrition columns
y_train_department = y_train['Department']
y_test_department = y_test['Department']
y_train_attrition = y_train['Attrition']
y_test_attrition = y_test['Attrition']

In [179]:
import pandas as pd
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
# Perform one-hot encoding
X_encoded = pd.get_dummies(X_df, columns=['BusinessTravel', 'EducationField', 'JobRole'], drop_first=True)

# Convert data type to int64
X_encoded = X_encoded.astype('int64')

# Print the updated DataFrame
X_encoded.head()

X = X_encoded

In [180]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_df, random_state=78)

In [181]:
# Create a StandardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [182]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
enc.fit(y_train)

# Create two new variables by applying the encoder
# to the training and testing data
y_train_encoded = enc.transform(y_train)
y_test_encoded = enc.transform(y_test)

c:\Users\Bonas\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [183]:
# Create a OneHotEncoder for the Attrition column
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
enc.fit(y_train)

# Create two new variables by applying the encoder
# to the training and testing data
y_train_encoded = enc.transform(y_train)
y_test_encoded = enc.transform(y_test)

c:\Users\Bonas\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

## Create, Compile, and Train the Model

In [184]:
#Find the number of columns in the X training data
input_features = len(X_train.iloc[0])

# Create the input layer
inputs = layers.Input(shape=(X.shape[1],), name='input_features',)

# Create at least two shared layers
shared_1 = layers.Dense(64, activation='relu')(inputs)
shared_2 = layers.Dense(32, activation='relu')(shared_1)

In [185]:
# Create a branch for Department
# with a hidden layer and an output layer
department_branch = layers.Dense(16, activation='relu')(shared_2)
department_output = layers.Dense(3, activation='softmax', name='department_output')(department_branch)

In [186]:
# Create a branch for Attrition
# with a hidden layer and an output layer
attrition_branch = layers.Dense(16, activation='relu')(shared_2)
attrition_output = layers.Dense(2, activation='sigmoid', name='attrition_output')(attrition_branch)

In [187]:
# Create the model
model = Model(inputs=inputs, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'categorical_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})

# Summarize the model
model.summary()

Model: "functional_11"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_features      │ (None, 22)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_41 (Dense)    │ (None, 64)        │      1,472 │ input_features[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_42 (Dense)    │ (None, 32)        │      2,080 │ dense_41[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_43 (Dense)    │ (None, 16)        │        528 │ dense_42[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_44 (Dense)    │ (None, 16)        │        528 │ dense_42[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 3)         │         51 │ dense_43[0][0]    │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 2)         │         34 │ dense_44[0][0]    │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 4,693 (18.33 KB)

 Trainable params: 4,693 (18.33 KB)

 Non-trainable params: 0 (0.00 B)

In [188]:
# Train the model
model.fit(X_train_scaled,
          {'department_output': y_train_department, 'attrition_output': y_train_attrition},
          epochs=100,
          shuffle=True,
          verbose=2)

Epoch 1/100

ValueError: Arguments `target` and `output` must have the same shape. Received: target.shape=(None, 1), output.shape=(None, 3)

In [ ]:
# Evaluate the model with the testing data
model_loss, model_accuracy = model.evaluate(X_test_scaled, [y_test_encoded, y_test_encoded], verbose=2)

In [ ]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {model_accuracy[0]}")
print(f"Attrition Accuracy: {model_accuracy[1]}")

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.